<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <style>
        body        { padding-top:5px; word-wrap:break-word; }
    </style>
    <script src="bootstrap3/js/bootstrap.js" type="text/javascript"></script>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- GOOGLE INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google</h3>

                <p>
                    <strong>ID</strong>: <%= id %><br>
                    <strong>Email</strong>: <%= email %><br>
                    <strong>Verified email</strong>: <%= vemail %><br>
                    <strong>name</strong>: <%= name %><br>
                    <strong>Gender</strong>: <%= gender %><br>
                    <strong>Nationality</strong>: <%= nationality %><br>
                </p>

            </div>
        </div>
        <h4>Profile picture</h4>
        <div class="col-sm-2 offset-sm-1">
            <p class="category"></p>
            <img src="<%= picture %>" alt="Circle Image" class="rounded-circle">
        </div>



    </div>

</div>



</body>
</html>